
body {
  font-family: Vazirmatn;
  line-height: 1.6;
  padding: 20px;
  line-height: 2;
}

#content {
  direction: rtl;
  text-align: justify;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

ol{
  list-style-type: persian;
}
  

/* custom poet style */
.poet {
  max-width: fit-content;
  justify-self: center;
}

.stanza{
  width: 225px;
  height: 32px;
  text-align: justify !important;
  display: inline-block;
}

.stanza:after {
  content: "";
  display: inline-block;
  width: 100%;	
}


pre{
  direction: ltr;
  color:#d2cec8;
  background-color: #1c1e1f;
  padding: 16px;
  font-size: 95%;
  line-height: 2.2;
  border-radius: 6px;
}

pre:has(.javascript, .rust){
  direction: ltr;
  text-align: left;
}